services:
  ftso-data-sources:
    container_name: ftso-data-sources
    image: ftso-data-sources:latest
    build: .
    restart: unless-stopped
    ports:
      - "9999:9999"
    volumes:
      - ./config.yaml:/app/config.yaml
    networks:
      - ftso-data-sources
    environment:
      - ENV=production

  redis:
    image: redis/redis-stack:latest
    container_name: redis-ftso-data-sources
    restart: unless-stopped
    ports:
      - 6379:6379
      - 8001:8001
    environment:
      - REDIS_ARGS=""
      - REDISEARCH_ARGS=""
      - REDISJSON_ARGS=""
      - REDISTIMESERIES_ARGS="RETENTION_POLICY=86400000"
      - REDISBLOOM_ARGS=""
    networks:
      - ftso-data-sources

  mosquitto:
    image: eclipse-mosquitto:latest
    container_name: mosquitto-lightftso
    restart: unless-stopped
    ports:
      - 127.0.0.1:1883:1883
      - 127.0.0.1:9001:9001
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./mosquitto/storage/data:/mosquitto/data
      - ./mosquitto/storage/log:/mosquitto/log
    networks:
      - ftso-data-sources

networks:
  ftso-data-sources:


